{% extends 'base.html.twig' %}

{% block header %}
	<header>
		<nav>
			<h1>
                <img src="https://pbs.twimg.com/profile_images/998896339214729216/Flmj2mSe_400x400.jpg" alt="smart tribune"/>
            </h1>

			<ul>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
		</nav>
	</header>
{% endblock %}
