

// Header 

*,
::before, 
::after{
    box-sizing: border-box ;
    margin: 0 ;
    padding: 0 ;
}

header{
    font-family: sans-serif ;
    padding: 0rem 9rem ;
    background-color: #fff ; 
    nav{
        color: #fff ;

        img{
            width: 7rem ;
        }
    }
}